/* css reset*/
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
/*site style*/
body {
  background-color: #eeeeee;
}
.globalHeader {
  margin: 20px 20px;
}
@media(min-width: 500px){.globalHeader {
  margin: 60px 0;
}
}
.searchForm {
  display: flex;
  justify-content: space-between;
  
}
@media (min-width: 500px){
  .searchForm{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.searchForm > input {
  width: 100%;
  margin-right: 10px;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}
.searchForm > button {
  white-space: nowrap;
  padding: 0 28px;
  border: none;
  border-radius: 4px;
  background: #0282b9;
  color: white;
  font-size: 16px;
}

.globalMain {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  
}

.siteList {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
@media(min-width: 500px){
  .siteList {
    margin-left: 0; 
    margin-right: -20px;
    justify-content: flex-start;
}
}

.siteList > li {
  margin-bottom: 10px;
  
}
@media(min-width: 500px){
  .siteList > li {
    margin-right: 25px;
  }
}
.siteList .site {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 20px 0;
  position: relative;
  cursor: pointer;
}
.siteList .site > .logo {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
}
.siteList.site > .link {
  font-size: 14px;
  margin-top: 4px;
}
.site > .close{
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}
.site:hover > .close {
  display: block;
}
.siteList .addButton {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  padding: 20px 0;
}
.siteList .addButton .icon {
  width: 64px;
  height: 64px;
}
.siteList .addButton .text {
  font-size: 14px;
  margin-top: 4px;
}
.siteList .addButton .icon-wrapper {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
